@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 130 56.18% 65.1%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import './fonts';

@import '../components/AnimatedList/AnimatedList.scss';
@import '~react-tabs/style/react-tabs.css';
@import '~bootstrap-icons';

.react-tabs__tab--selected {
  background: $primary;
  border-color: $primary;
  color: $black;
  border-radius: 5px 5px 0 0;
}

* {
  margin: 0rem;
  padding: 0rem;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

html,
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  color: white;
  background: url('/background.jpg') no-repeat center right;
  overflow: hidden;
  background-size: cover !important;
  background-color: black;
}

p {
  font-size: 1.1rem;
}

.contain {
  min-height: 100%;
  margin: 0rem auto;
  position: relative;
  overflow: hidden;
  height: 100dvh;
}

.transform {
  transition: transform 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Comfortaa', cursive;
  }
}

header {
  h1 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: -0.625rem;
  }

  .display-7 {
    margin-left: 1%;
  }
}

footer {
  background-color: $footer;
  z-index: 100;

  .nav-item {
    button {
      color: $white;
      text-decoration: none;
      text-transform: lowercase;
      font-family: 'Comfortaa', cursive;
      letter-spacing: -0.0625rem;

      &.active {
        color: $primary;
        text-decoration: underline;
        text-underline-offset: 0.3125rem;
        text-decoration-color: $white;
      }
    }
  }
}

.icon {
  color: $white !important;

  &:hover,
  &:focus {
    color: $primary !important;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.on-load-animation {
  animation: fadeInUp 1s ease-in-out forwards;
}

.main-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020202d4;
  z-index: 9;
  overflow-y: auto;

  .modal-container {
    margin-bottom: 4rem !important;
  }

  .icon {
    z-index: 10;
  }
}

.title-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1rem;

  &::after {
    content: '';
    flex: 1 1 auto;
    border-bottom: solid 1px $primary;
    margin-right: 0%;
  }

  h2 {
    flex: 0 1 auto;
    padding: 0 0.9375rem 0 0;
    color: #fff;
    margin: 0;
  }
}

.close-icon {
  font-size: 2.3rem !important;
}

@media only screen and (max-width: 767px) {
  header {
    @for $i from 1 through 6 {
      h#{$i} {
        letter-spacing: -0.3125rem;
      }
    }
  }

  body {
    background-position: 80% 100% !important;
  }

  .title-line {
    &::after {
      margin-right: 10%;
    }
  }

  .close-icon {
    font-size: 2.2rem !important;
  }
}

@media only screen and (max-width: 750px) {
  .title-line {
    &::after {
      margin-right: 0%;
    }
  }
}

@media only screen and (max-width: 468px) {
  .title-line {
    &::after {
      margin-right: 15%;
    }
  }

  .close-icon {
    font-size: 2rem !important;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
