@import '../../styles/variables.scss';

.animated-list {
  padding: 50px 0 0;

  .grid-item {
    position: relative;
    transition: transform 0.3s !important;
    margin-bottom: 1.5rem;
    z-index: 1;

    img {
      position: relative;
      border: 1px solid transparent;
      transition: border 0.3s ease-in-out;
      filter: grayscale(0%);
      z-index: 1;

      &:hover,
      &:focus {
        filter: grayscale(0%);
        border: 1px solid hsl(var(--primary)) !important;
      }
    }

    &:hover,
    &:focus {
      transform: scale(1.2) !important;
      z-index: 2;

      img {
        border: 1px solid $primary;
        z-index: 2;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .animated-list {
    .grid-item {
      &:hover,
      &:focus {
        transform: scale(1) !important;
      }
    }
  }
}
